*{
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color:white;
}

header{
    position: sticky;
    margin-top: -8px;
    margin-left: -8px;
}
header > nav{
    background-color: white;
    padding:0.1vw;   
    border-bottom: 0.9vw dotted black;
    border-top: 0.9vw dotted black;
}
header>nav>a{
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.1vw;
    margin-left: 5vw;
    font-size: 1.5vw;

}
header>nav>a:hover{
background-color: black;
color:white;
}
main{
    padding-top:1.1vw;
    margin-left: 10px;
}
main>section{
    float: right;
    width: 50vw;
    height:50vw;  
}
main>section>img{
    width: 50vw;
    height:50vw;  
    clear: both;
}
main>article{
    font-size: 1.4vw;
    font-weight: 400;
}
footer{
    margin-top: 20px;
    padding: 1.001vw; 
    font-size: 1.1vw;
    background-color: beige;
}
